body {
    
}
h1{
    text-align:center;
}

h3{
    margin-left:30px;
    
}

.MainContent{
    margin-left:30px;
    
}

.link{
    text-align:center;
}

.add{
    border:solid 1px black;
}

.Description{
    text-align:center;
}

.center{
    text-align:center;
}

.Rubrik{
    text-align:center;
}

Pris{
    text-align:center;
}

